{:paths ["src" "resources"]

 ;; TODO: figure out how to configure logging
 ;; When this package is added, no logging statements appear in
 ;; console by default (compojure-api integration)
 :deps
 {org.clojure/clojure {:mvn/version "1.9.0"}
  org.clojure/tools.cli {:mvn/version "0.3.6"}
  org.clojure/data.csv {:mvn/version "0.1.4"}
  com.amazonaws/aws-java-sdk-dynamodb {:mvn/version "1.11.82"}
  com.datomic/datomic-pro {:mvn/version "0.9.5703"
                           :exclusions [org.slf4j/slf4j-nop org.slf4j/slf4j-log4j12]}
  environ {:mvn/version "1.1.0"}
  semantic-csv {:mvn/version "0.2.1-alpha1"}
  }
 ;; aliases
 ;;   resolve-deps aliases (-R) affect dependency resolution, options:
 ;;     :extra-deps - specifies extra deps to add to :deps
 ;;     :override-deps - specifies a coordinate to use instead of that in :deps
 ;;     :default-deps - specifies a coordinate to use for a lib if one isn't found
 ;;   make-classpath aliases (-C) affect the classpath generation, options:
 ;;     :extra-paths - vector of additional paths to add to the classpath
 ;;     :classpath-overrides - map of lib to path that overrides the result of resolving deps
 :aliases {:dev
           {:extra-deps
            {org.clojure/test.check {:mvn/version  "0.9.0"}
             org.clojure/tools.trace {:mvn/version  "0.7.9"}
             org.clojure/tools.nrepl {:mvn/version "0.2.13"}
             com.cognitect/transcriptor {:mvn/version "0.1.5"}
             acyclic/squiggly-clojure {:mvn/version "0.1.9-SNAPSHOT"
                                       :exclusions [org.clojure/tools.reader]}
             com.velisco/strgen {:mvn/version "0.1.5"
                                 :exclusions [org.clojure/test.check]}
             vvvvalvalval/datomock {:mvn/version "0.2.0"}}}
           :extra-paths ["test"]
           ;; :pack {:extra-deps
           ;;        {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
           ;;                          :sha "8acf80dd4d6e5173585f5c6fec7af28a310f3ed7"}}}
           :datomic-pro
           {:extra-deps
            {com.datomic/datomic-pro
             {:mvn/version "0.9.5703"
              :exclusions [org.slf4j/slf4j-nop org.slf4j/slf4j-log4j12]}}}
           :pack
           {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                          :sha "81b9e47d992b17aa3e3af1a47aed1f0287ebe9b8"}}
            :main-opts ["-m"]}}}
