!Build/
*.bak
*~
.build/
.dir-locals.el
.last_cover_stats
.lein-*
.nrepl-port
/*-init.clj
/*.bak
/*.old
/*.out
*pom.xml
/bundle-release.log
Build
Build.bat
META.yml
_build/
blib/
cover_db/
inc/
log/
nytprof.out
pm_to_blib
release-archives/
target/
.cpcache/

# Elastic Beanstalk Files
.ebextensions/app-env.config
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
Dockerrun.aws.json
build/*
/.dockerignore

#Local docker-compose env-variable files
.env

# secrets
/resources/secrets/

# Generated assets
/resources/client_build

# Datomic Transactor properties (with secret keys)
*transactor.properties

# Datomic database files
data/

# Source code linter cache
/.clj-kondo/.cache/

# VS Code calva extension configs
.calva
