{:paths ["src" "resources"]

 ;; TODO: figure out how to configure logging
 ;; When this package is added, no logging statements appear in
 ;; console by default (compojure-api integration)
 :deps
 {org.clojure/clojure {:mvn/version "1.9.0"}
  org.clojure/core.cache {:mvn/version "0.6.5"}
  org.clojure/data.csv {:mvn/version "0.1.4"}
  org.clojure/tools.cli {:mvn/version "0.3.6"}
  org.clojure/tools.logging {:mvn/version "0.4.0"}
  clojure.java-time {:mvn/version "0.3.1"}
  com.cognitect/transcriptor {:mvn/version "0.1.5"}
  aero {:mvn/version "1.1.2"}
  amazonica {:mvn/version "0.3.121"}
  bk/ring-gzip {:mvn/version "0.2.1"}
  buddy/buddy-auth {:mvn/version "2.1.0"}
  buddy/buddy-sign {:mvn/version "3.0.0"}
  com.taoensso/nippy {:mvn/version "2.11.1"}
  cheshire {:mvn/version "5.8.0"}
  clj-http {:mvn/version "3.8.0"}
  com.draines/postal {:mvn/version "2.0.2"}
  danlentz/clj-uuid {:mvn/version "0.1.7"}
  environ {:mvn/version "1.1.0"}
  expound {:mvn/version "0.7.1"}
  com.google.api-client/google-api-client {:mvn/version "1.23.0"}
  io.rkn/conformity {:mvn/version "0.5.1"}
  me.raynes/fs {:mvn/version "1.4.6"}
  metosin/compojure-api {:mvn/version "2.0.0-alpha30"
                         :exclusions [potemkin
                                      instaparse]}
  metosin/muuntaja {:mvn/version "0.6.4"}
  mount {:mvn/version "0.1.12"}
  ring/ring-codec {:mvn/version "1.1.0"}
  ring/ring-defaults {:mvn/version "0.3.1"}
  ring/ring-jetty-adapter {:mvn/version "1.6.3"}
  semantic-csv {:mvn/version "0.2.1-alpha1"}
  com.taoensso/encore {:mvn/version "2.97.0"}}

 ;; aliases
 ;;   resolve-deps aliases (-R) affect dependency resolution, options:
 ;;     :extra-deps - specifies extra deps to add to :deps
 ;;     :override-deps - specifies a coordinate to use instead of that in :deps
 ;;     :default-deps - specifies a coordinate to use for a lib if one isn't found
 ;;   make-classpath aliases (-C) affect the classpath generation, options:
 ;;     :extra-paths - vector of additional paths to add to the classpath
 ;;     :classpath-overrides - map of lib to path that overrides the result of resolving deps
 :aliases {:1.9 {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
           :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.0"}}}
           :prod
           {:extra-deps
            {wormbase/ids {:mvn/version "0.1.2"}}}
           :test
           {:extra-paths ["test" "test/resources" "ids/src"]
            :extra-deps
            {vvvvalvalval/datomock {:mvn/version "0.2.2"}
             com.cognitect/transcriptor {:mvn/version "0.1.5"}
             com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                        :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
            :main-opts ["-m" "cognitect.test-runner"]}
           :dev
           {:extra-deps
            {org.clojure/test.check {:mvn/version  "0.9.0"}
             org.clojure/tools.trace {:mvn/version  "0.7.9"}
             org.clojure/tools.nrepl {:mvn/version "0.2.13"}
             acyclic/squiggly-clojure {:mvn/version "0.1.9-SNAPSHOT"
                                       :exclusions [org.clojure/tools.reader]}
             com.velisco/strgen {:mvn/version "0.1.5"
                                 :exclusions [org.clojure/test.check]}
             javax.servlet/javax.servlet-api {:mvn/version "4.0.0"}
             ring/ring-devel {:mvn/version "1.6.3"}
             peridot {:mvn/version "0.5.0"}
             vvvvalvalval/datomock {:mvn/version "0.2.2"}}
            :extra-paths ["ids/src" "test"]}
           :datomic-pro
           {:extra-deps
            {com.datomic/datomic-pro {:mvn/version "0.9.5703"
                                      :exclusions [org.slf4j/slf4j-nop
                                                   org.slf4j/slf4j-log4j12]}
             com.amazonaws/aws-java-sdk-dynamodb {:mvn/version "1.11.82"
                                                  :exclusions [joda-time]}}}
           :logging
           {:extra-deps
            ;; Use Logback as the main logging implementation:
            {ch.qos.logback/logback-classic {:mvn/version "1.1.9"
                                             :exclusions
                                             [;; Exclude transitive dependencies on all other logging
                                              ;; implementations, including other SLF4J bridges.
                                              commons-logging
                                              log4j
                                              org.apache.logging.log4j/log4j
                                              org.slf4j/simple
                                              org.slf4j/slf4j-jcl
                                              org.slf4j/slf4j-nop
                                              org.slf4j/slf4j-log4j12
                                              org.slf4j/slf4j-log4j13]}
             ch.qos.logback/logback-core {:mvn/version "1.1.7"}}}

           ;;   ;; Logback implements the SLF4J API:
           ;;   org.slf4j/slf4j-api {:mvn/version "1.7.22"}

           ;;   ;; Redirect Apache Commons Logging to Logback via the
           ;;   ;; SLF4J API:
           ;;   org.slf4j/jcl-over-slf4j {:mvn/version "1.7.22"}

           ;;   ;; Redirect Log4j 1.x to Logback via the SLF4J API:
           ;;   org.slf4j/log4j-over-slf4j {:mvn/version "1.7.22"}

           ;;   ;; Redirect Log4j 2.x to Logback via the SLF4J API:
           ;;   org.apache.logging.log4j/log4j-to-slf4j {:mvn/version "2.7"}

           ;;   ;; Redirect OSGI LogService to Logback via the SLF4J API
           ;;   org.slf4j/osgi-over-slf4j {:mvn/version "1.7.22"}


           ;;  ;; Redirect java.util.logging to Logback via the SLF4J API.
           ;;  ;; Requires installing the bridge handler, see README:
           ;;  org.slf4j/jul-to-slf4j {:mvn/version "1.7.22"}}}
           }

 ;; Provider attributes

  ;; :mvn/repos {
  ;;   "central" {:url "https://repo1.maven.org/maven2/"}
  ;;   "clojars" {:url "https://repo.clojars.org/"}
  ;; }
}
