option_settings:
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: '/index.html'
  aws:elasticbeanstalk:cloudwatch:logs:
    DeleteOnTerminate: 'false'
    RetentionInDays: '14'
    StreamLogs: 'true'
  aws:elasticbeanstalk:hostmanager:
    LogPublicationControl: 'true'
  aws:elasticbeanstalk:managedactions:
    ManagedActionsEnabled: 'true'
    PreferredStartTime: "SUN:07:30"
  aws:elasticbeanstalk:managedactions:platformupdate:
    InstanceRefreshEnabled: 'false'
    UpdateLevel: minor
  aws:elasticbeanstalk:monitoring:
    Automatically Terminate Unhealthy Instances: 'true'
  aws:elasticbeanstalk:sns:topics:
    Notification Endpoint: x3g9a8o2s5r2v1y8@wormbase.slack.com
    Notification Protocol: email
    Notification Topic ARN: arn:aws:sns:us-east-1:357210185381:ElasticBeanstalkNotifications-Environment-wormbase-names
    Notification Topic Name: null
