[#:db{:ident :agent/id,
      :valueType :db.type/keyword,
      :cardinality :db.cardinality/one,
      :unique :db.unique/value}
 #:db{:ident :agent/script,
      :valueType :db.type/keyword,
      :cardinality :db.cardinality/one,
      :unique :db.unique/value}
 #:db{:ident :agent/web-form,
      :valueType :db.type/keyword,
      :cardinality :db.cardinality/one,
      :unique :db.unique/value}
 #:db{:ident :biotype/transcript}
 #:db{:ident :biotype/transposon}
 #:db{:ident :biotype/psuedogene}
 #:db{:ident :biotype/cds}
 #:db{:ident :gene/biotype,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/one}
 #:db{:ident :gene/sequence-name,
      :valueType :db.type/string,
      :cardinality :db.cardinality/one,
      :unique :db.unique/value}
 #:db{:ident :gene/species,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/one}
 #:db{:ident :gene/id,
      :valueType :db.type/string,
      :cardinality :db.cardinality/one,
      :unique :db.unique/value}
 #:db{:ident :gene/cgc-name,
      :valueType :db.type/string,
      :cardinality :db.cardinality/one,
      :unique :db.unique/value}
 #:db{:ident :gene/status,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/one}
 #:db{:ident :gene.status/dead}
 #:db{:ident :gene.status/suppressed}
 #:db{:ident :gene.status/live}
 #:db{:ident :provenance/why,
      :valueType :db.type/string,
      :cardinality :db.cardinality/one}
 #:db{:ident :provenance/how,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/one}
 #:db{:ident :provenance/who,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/one}
 #:db{:ident :provenance/when,
      :valueType :db.type/instant,
      :cardinality :db.cardinality/one}
 #:db{:ident :provenance/merged-from,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/one}
  #:db{:ident :provenance/merged-into,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/one}
 #:db{:ident :provenance/split-from,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/one}
  #:db{:ident :provenance/split-into,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/one}
 #:db{:ident :species/id,
      :valueType :db.type/keyword,
      :cardinality :db.cardinality/one,
      :unique :db.unique/value}
 #:db{:ident :species/latin-name,
      :valueType :db.type/string,
      :cardinality :db.cardinality/one,
      :unique :db.unique/value}
 #:db{:ident :template/format,
      :valueType :db.type/string,
      :cardinality :db.cardinality/one,
      :unique :db.unique/value}
 #:db{:ident :template/describes,
      :valueType :db.type/keyword,
      :cardinality :db.cardinality/one,
      :unique :db.unique/value}
 #:db{:ident :user/email,
      :valueType :db.type/string,
      :cardinality :db.cardinality/one,
      :unique :db.unique/value}
 #:db{:ident :user/roles,
      :valueType :db.type/keyword,
      :cardinality :db.cardinality/many}]
