{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.cli {:mvn/version "1.0.194"}
        amazonica {:mvn/version "0.3.152"}
        clojure.java-time {:mvn/version "0.3.2"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.0.0"}}}
  :clj-kondo {:extra-deps {clj-kondo {:mvn/version "RELEASE"}}
              :main-opts ["-m" "clj-kondo.main"]}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
            :main-opts ["-m" "hf.depstar.uberjar"]}}}
