option_settings:
  aws:elasticbeanstalk:application:environment:
    WB_NAMES_RELEASE: 0.0.0
    WB_DB_URI: ""
    GOOGLE_REDIRECT_URI: ""
    API_GOOGLE_OAUTH_CLIENT_ID: ""
    API_GOOGLE_OAUTH_CLIENT_SECRET: ""
    CALTECH_API_URL: ""
    CALTECH_API_USER: ""
    CALTECH_API_PASSWORD: ""
    _JAVA_OPTIONS: "-Xmx4g"
